.scrollbox {position: relative;}

.scrollbox_content {
	margin-right: 20px;
    background-color:Transparent;
}

.scrollbox_scrollbar {
    background-color:Transparent;
    background: url(../img/scroll_fila.png) repeat-y;
	height: 100%;
	width: 19px;
}

.scrollbox_up_button 
{
    background-color:Transparent;
    background: url(../img/scroll_top.png) top right no-repeat;
	height: 15px;
}

.scrollbox_down_button 
{
	background-color:Transparent;
    background: url(../img/scroll_bottom.png) top right no-repeat;
	height: 20px;
}

.scrollbox_handle {
    background: url(../img/scroll_boton.png) repeat-y;
    background-color:Transparent;
}

.scrollbox_handle_top {
    background: url(../img/scroll_boton_top.png) no-repeat;
    background-color:Transparent;
	height: 4px;
}

.scrollbox_handle_bottom {
    background-color:Transparent;
    background: url(../img/scroll_boton_bottom.png) no-repeat;
	height: 4px;
}